/* menu comienzo */

.containerMenu {
    padding-top: 15%;
}

.h1ap {
    font-size: 3rem;
    font-weight: bold;  
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 3px 5px;
}

.h2ap {
    font-size: 2rem;
    font-weight: bold;  
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 3px 5px;
    margin: 15px;
}

.titcards {
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    border-radius: 10px;
    text-transform: uppercase ;
}

.artaptexto {
    margin: 45px;
    font-size: 25px;
}

.cardshb {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: 23rem;
    margin: 15px 0px 15px 0px;
}

.selectdeli {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.animImg {
    transition: all;
    transition-duration: 0.8s;

    &:hover {
        transform: scale(1.2);
    }

}

.carritoMenu {
    font-size: 35px;
    border-radius: 30px;
    border: double rgb(92, 41, 0);
    border-width: 5px;
    padding: 10px;
    font-weight: bold;
    margin: 30px 0 50px 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: $buttoncolor;
    background-color: black;
}

.offCanv { 

    background: linear-gradient(rgb(251, 219, 113), white);
    
    .bodyCarrito {
        
        ul {
            list-style: none;
            padding: 0 2% 0 2%;
        }

        p {
            margin-left: 2%;
            border-radius: 5px;
            width: 40%;
        }
    }
}

.alertaToast{

    color: black;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(320deg, #ffffa4 0, #ffffa2 8.33%, #ffffa0 16.67%, #ffffa0 25%, #edffa0 33.33%, #d3ff9f 41.67%, #b9f29d 50%, #a1e29b 58.33%, #8dd599 66.67%, #7bc999 75%, #6cbf99 83.33%, #60b79a 91.67%, #56b19c 100%);
    padding: 1% 2% 0.9% 0;

    img{
        width: 80px;
        height: 70px;
    }
}

.alertaToastDatos {

    color: black;
    font-size: 25px;
    font-style: italic;
    border-radius: 10px;
    background: linear-gradient(320deg, #ffffa4 0, #ffffa2 8.33%, #ffffa0 16.67%, #ffffa0 25%, #edffa0 33.33%, #d3ff9f 41.67%, #b9f29d 50%, #a1e29b 58.33%, #8dd599 66.67%, #7bc999 75%, #6cbf99 83.33%, #60b79a 91.67%, #56b19c 100%);

}



/* Menu fin */